#center-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#center-box{
	height:200px;
	width:200px;
	background-color:lightblue;
	border:2px  solid black;
}
#text{
	position:absolute;
	Left:50%;
	top:50px;
	transform:translate(-50%,-50%);
	color:purple;
}